<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Pokédex</h1>
    <div id="pokemonList" class="grid-container"></div>
    <div id="pokemonDetails" class="details-container"></div>
    <script src="app.js"></script>
</body>
</html>